.octicon.octicon-cloud-upload{
    color:blue;
     font-size: 64px;
  
}

.octicon.octicon-arrow-right{
     color:red;
      font-size: 32px;

}

.octicon.octicon-cloud-upload {
     color:red;
      font-size: 64px;
}