
<h3>Home Component</h3>
<p>Welcome to Angular Seed</p>
      <span class="octicon octicon-arrow-down">Icon 2</span> 
      <span  class="octicon octicon-arrow-right octicon-2x">Icon 3</span> 
       <span class="octicon octicon-cloud-upload">Icon 4</span> 
       <i class="octicon octicon-cloud-upload octicon-2x"></i> fa-2x
